* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: #6d2c93;
}

.container {
  display: flex;
  gap: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 100px;
  background: rgb(192, 154, 154);
  border-radius: 4px;
  margin: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: 100px;
  background: rgb(192, 154, 154);
  border-radius: 4px;
  margin: 10px;
}

.stats p {
  margin: 10px;
}

.main {
  background: white;
  border-radius: 5px;
}

.grid {
  display: grid;
  flex-wrap: wrap;
  padding: 13x;
}

.square {
  width: 25px;
  height: 25px;
  background: #3b80c1;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  height: auto;
  max-width: 65%;
}

.square.discovered {
  background: #22405a;
}

.square:hover {
  background: #b2bfca;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(192, 154, 154);
  margin: 5px;
}

.newGame {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.buttons button {
  cursor: pointer;
  background: rgb(156, 56, 56);
  border: none;
  border-radius: 2px;
  color: white;
}

.buttons button:hover {
  background: rgb(184, 104, 104);
}

.newGame select {
  margin-bottom: 5px;
  border-radius: 5px;
}